body{
    /* background-color: #d8d8d8; */
    background-color: rgb(44 53 62);
    margin: 0;
    text-align: center;
}

h1{
    font-size: larger;
    /* font-weight: 600; */
    color: white;

}



#title{
    margin-top: 5rem;
}



.ui{
    background-color: white;
    border-radius: 1rem;
    /* border: 2px solid #282828; */
    width: 50%;
    margin: 3% auto;
    height: 400px;
}


.col{

    margin: 5%;
    /* border: 1px solid #282828; */
    text-align: center;
    padding: auto;
    /* box-shadow: 1rem; */
    border-radius: .5rem;
}

.shadow{
    box-shadow: 10px 10px 5px #d8d8d8;

}

.numbers{
    margin-top: 1rem;
}


#result{
    width: 100%;
    height: 30%;
    margin-top: 6rem;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 3rem;
    
}